.row-header{
    margin:0px auto;
    padding:0px auto;
}


.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    min-height:200px;
}

.text-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    min-height:200px;
    text-align:center;
}
.Title {
    color: #ffffff;
    font-variant: small-caps;
    /* text-transform: none; */
    font-weight: bold;
    margin-bottom: 0px;
    font-size: 1.8em;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-family:    Garamond;
}
.nav-logo {
    float: left !important;
    position: fixed;
    left: 20px;
    right: 0;
  }
.footer{
    background-color: #19e6e6;
    margin:0px auto;
    padding: 10px 0px 10px 0px;
}
.jumbotron {
    padding:200px 30px 200px 30px;
    margin:0px auto;
    background-image: url("dicom.png");
    background-repeat: no-repeat;
    background-size: cover;
    color:rgb(146, 186, 206);
    width: 100%;
    height: auto;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.navbar-dark {
    background-color: #19e6e6;
}

.page-enter {
    opacity: 0.01;
    transform: translateX(-100%);
}

.page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 300ms ease-in;
}

.page-exit {
    opacity: 1;
    transform: translateX(0%);
}

.page-exit-active {
    opacity: 0.01;
    transform: translateX(100%);
    transition: all 300ms ease-out;
}